@font-face {
  font-family: 'futura';
  src: url("../fonts/futura-medium.ttf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'avenir';
  src: url("../fonts/Avenir-medium.otf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'avenirbook';
  src: url("../fonts/Avenir-book.otf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'league';
  src: url("../fonts/leaguegothic.otf");
  /* IE9 Compat Modes */
}

h1 {
  font-family: futura;
  font-size: 1.875rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: futura;
  font-size: 2.25rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

@media screen and (max-width: 850px) {
  h2 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 580px) {
  h2 {
    font-size: 1.5rem;
  }
}

h6 {
  font-family: league;
  font-size: 350px;
}

@media screen and (max-width: 850px) {
  h6 {
    font-size: 175px;
  }
}

p {
  font-family: 'Manjari', sans-serif;
  font-size: 1.125rem;
  color: initial;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
}

p.bold {
  font-family: 'Manjari', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

body .test {
  background-color: white;
}

.white {
  color: #ffffff;
}

nav {
  background-color: #000000;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media screen and (max-width: 580px) {
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

nav.scrolldown {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav:hover .right {
  width: 55.55556%;
  overflow: initial;
}

@media screen and (max-width: 580px) {
  nav:hover .right {
    width: 66.66667%;
  }
}

nav:hover .left {
  width: 27.77778%;
}

@media screen and (max-width: 580px) {
  nav:hover .left {
    width: 33.33333%;
  }
}

nav .left {
  width: 100%;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

@media screen and (max-width: 580px) {
  nav .left {
    width: 33.33333%;
  }
}

nav .left .logo {
  width: 150px;
  display: block;
  margin: auto;
}

@media screen and (max-width: 580px) {
  nav .left .logo {
    width: 120px;
  }
}

nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 0%;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  overflow: hidden;
}

@media screen and (max-width: 580px) {
  nav .right {
    display: none;
  }
}

nav .right p {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px !important;
  font-family: 'Manjari', sans-serif;
  font-size: 0.9rem;
  color: #ffffff;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  font-weight: 700;
}

@media screen and (max-width: 850px) {
  nav .right p {
    font-family: 'Manjari', sans-serif;
    font-size: 0.7875rem;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2;
  }
}

@media screen and (max-width: 580px) {
  nav .right p {
    letter-spacing: 1px !important;
    font-family: 'Manjari', sans-serif;
    font-size: 0.7875rem;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2;
  }
}

nav .right p:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  -webkit-transition: width 0s ease, background .5s ease;
  transition: width 0s ease, background .5s ease;
}

nav .right p:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #ef9178;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

nav .right p:hover:before {
  width: 100%;
  background: #ef9178;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

nav .right p:hover:after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

nav .burguer {
  display: none;
}

@media screen and (max-width: 580px) {
  nav .burguer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 5%;
  }
}

nav .burguer > div {
  height: 1px;
  background: #ffffff;
}

.responsive-menu {
  display: none;
}

@media screen and (max-width: 580px) {
  .responsive-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 50%;
    top: 80px;
    left: -100%;
    background-color: #0d0d0d;
    z-index: 9999;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    padding: 5.55556%;
  }
  .responsive-menu a p {
    color: #ffffff;
    text-align: center;
  }
}

.responsive-menu.activo {
  left: 0;
}

.home-1 {
  background-color: #0d0d0d;
}

.home-1 video {
  width: 100%;
}

.home-1 .slider-portada {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .home-1 .slider-portada {
    width: 100%;
  }
}

.home-1 .slider-portada .slider-single {
  position: relative;
}

.home-1 .slider-portada .slider-single img {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 850px) {
  .home-1 .slider-portada .slider-single img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 580px) {
  .home-1 .slider-portada .slider-single img {
    height: 90vh;
  }
}

.home-1 .slider-portada .slider-single .cuadro {
  position: absolute;
  left: 5%;
  top: 40%;
  background-color: #ffffffab;
  padding: 30px;
  width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: cuadro forwards 1s;
          animation: cuadro forwards 1s;
}

.home-1 .slider-portada .slider-single .cuadro h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  opacity: 1;
}

.home-1 .slider-portada .slider-single .info {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #ffffff;
}

.home-2 {
  width: 94.44444%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 50px 0 100px 0;
}

@media screen and (max-width: 1200px) {
  .home-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1600px) {
  .home-2 {
    width: 88.88889%;
  }
}

@media screen and (max-width: 580px) {
  .home-2 {
    overflow: hidden;
  }
}

@media screen and (max-width: 580px) {
  .home-2.home2desktop {
    display: none;
  }
}

.home-2.home2responsive {
  display: none;
}

@media screen and (max-width: 580px) {
  .home-2.home2responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.home-2 h6 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  opacity: .1;
  height: 360px;
  max-width: 50%;
}

.home-2 .left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-2 .left > div {
  max-width: 500px;
  margin-bottom: 50px;
}

@media screen and (max-width: 580px) {
  .home-2 .left > div h1 {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1600px) {
  .home-2 .left {
    width: 38.88889%;
  }
}

@media screen and (max-width: 1400px) {
  .home-2 .left {
    width: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .home-2 .left {
    width: 100%;
  }
}

.home-2 .left p {
  max-width: 650px;
}

@media screen and (max-width: 1400px) {
  .home-2 .left p {
    max-width: 350px;
  }
}

.home-2 .right {
  width: 60%;
}

@media screen and (max-width: 1600px) {
  .home-2 .right {
    width: 61.11111%;
  }
}

@media screen and (max-width: 1400px) {
  .home-2 .right {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .home-2 .right {
    width: 100%;
  }
}

.home-2 .right .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 580px) {
  .home-2 .right .top {
    display: block;
  }
}

@media screen and (max-width: 1600px) {
  .home-2 .right .top img {
    width: 450px !important;
  }
}

.home-2 .right .bottom {
  margin-top: -15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 580px) {
  .home-2 .right .bottom {
    margin-top: 0;
  }
}

@media screen and (max-width: 1600px) {
  .home-2 .right .bottom img {
    width: 450px !important;
  }
}

.home-3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-3 .top {
  background: #0d0d0d;
}

.home-3 .top .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  margin-left: 5.55556%;
}

.home-3 .top .title h2 {
  text-transform: uppercase;
  color: #ffffff;
}

.home-3 .top .cont-proyectos {
  margin: 50px 2.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  position: relative;
}

.home-3 .top .cont-proyectos.active {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media screen and (max-width: 1600px) {
  .home-3 .top .cont-proyectos {
    margin: 50px 2.5%;
  }
}

@media screen and (max-width: 1200px) {
  .home-3 .top .cont-proyectos {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .home-3 .top .cont-proyectos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .home-3 .top .cont-proyectos {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.home-3 .top .cont-proyectos > a {
  -ms-grid-column-align: center;
      justify-self: center;
}

.home-3 .top .cont-proyectos .close {
  display: none;
}

.home-3 .top .cont-proyectos .close.active {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 7px;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #000000;
  z-index: 1;
}

.home-3 .top .cont-proyectos .close .cont > div {
  width: 40px;
  height: 1px;
  background-color: #ffffff;
}

.home-3 .top .cont-proyectos .close .cont > div:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.home-3 .top .cont-proyectos .close .cont > div:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.home-3 .top .cont-proyectos .block {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.home-3 .top .cont-proyectos .block h1 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #ffffff;
  position: absolute;
  left: -20px;
  top: 60px;
  margin: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.home-3 .top .cont-proyectos .block:hover:before {
  -webkit-transform: translateX(-8%) skewX(-10deg);
          transform: translateX(-8%) skewX(-10deg);
}

.home-3 .top .cont-proyectos .block:hover h1 {
  left: -10px;
}

.home-3 .top .cont-proyectos .block:before {
  content: "";
  width: 120%;
  background: #000000;
  position: absolute;
  top: -1px;
  height: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateX(-120%) skewX(-10deg);
          transform: translateX(-120%) skewX(-10deg);
  opacity: .8;
}

.home-3 .top .cont-proyectos .c1.desactivado, .home-3 .top .cont-proyectos .c2.desactivado, .home-3 .top .cont-proyectos .c3.desactivado, .home-3 .top .cont-proyectos .c4.desactivado, .home-3 .top .cont-proyectos .c5.desactivado, .home-3 .top .cont-proyectos .c6.desactivado, .home-3 .top .cont-proyectos .c7.desactivado, .home-3 .top .cont-proyectos .c8.desactivado {
  display: none;
}

.home-3 .bottom {
  width: 100%;
  padding: 0 5.55556% 5.55556% 5.55556%;
  background: #0d0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-3 .bottom #cambio, .home-3 .bottom #cambio2, .home-3 .bottom #cambio3, .home-3 .bottom #cambio4, .home-3 .bottom #cambio5, .home-3 .bottom #cambio6, .home-3 .bottom #cambio7, .home-3 .bottom #cambio8 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.home-3 .bottom #cambio.active, .home-3 .bottom #cambio2.active, .home-3 .bottom #cambio3.active, .home-3 .bottom #cambio4.active, .home-3 .bottom #cambio5.active, .home-3 .bottom #cambio6.active, .home-3 .bottom #cambio7.active, .home-3 .bottom #cambio8.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .home-3 .bottom #cambio.active, .home-3 .bottom #cambio2.active, .home-3 .bottom #cambio3.active, .home-3 .bottom #cambio4.active, .home-3 .bottom #cambio5.active, .home-3 .bottom #cambio6.active, .home-3 .bottom #cambio7.active, .home-3 .bottom #cambio8.active {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .home-3 .bottom #cambio.active, .home-3 .bottom #cambio2.active, .home-3 .bottom #cambio3.active, .home-3 .bottom #cambio4.active, .home-3 .bottom #cambio5.active, .home-3 .bottom #cambio6.active, .home-3 .bottom #cambio7.active, .home-3 .bottom #cambio8.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-3 .bottom #cambio.active .right, .home-3 .bottom #cambio2.active .right, .home-3 .bottom #cambio3.active .right, .home-3 .bottom #cambio4.active .right, .home-3 .bottom #cambio5.active .right, .home-3 .bottom #cambio6.active .right, .home-3 .bottom #cambio7.active .right, .home-3 .bottom #cambio8.active .right {
  -webkit-animation: swipe 1s forwards;
          animation: swipe 1s forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 0.58, 0.51, 1.02);
          animation-timing-function: cubic-bezier(0.39, 0.58, 0.51, 1.02);
}

@media screen and (max-width: 850px) {
  .home-3 .bottom #cambio.active .right, .home-3 .bottom #cambio2.active .right, .home-3 .bottom #cambio3.active .right, .home-3 .bottom #cambio4.active .right, .home-3 .bottom #cambio5.active .right, .home-3 .bottom #cambio6.active .right, .home-3 .bottom #cambio7.active .right, .home-3 .bottom #cambio8.active .right {
    -webkit-animation: none;
            animation: none;
  }
}

@media screen and (max-width: 580px) {
  .home-3 .bottom #cambio.active .right, .home-3 .bottom #cambio2.active .right, .home-3 .bottom #cambio3.active .right, .home-3 .bottom #cambio4.active .right, .home-3 .bottom #cambio5.active .right, .home-3 .bottom #cambio6.active .right, .home-3 .bottom #cambio7.active .right, .home-3 .bottom #cambio8.active .right {
    -webkit-animation: none;
            animation: none;
  }
}

.home-3 .bottom #cambio .left, .home-3 .bottom #cambio2 .left, .home-3 .bottom #cambio3 .left, .home-3 .bottom #cambio4 .left, .home-3 .bottom #cambio5 .left, .home-3 .bottom #cambio6 .left, .home-3 .bottom #cambio7 .left, .home-3 .bottom #cambio8 .left {
  width: 50%;
  padding: 25px;
  border: white solid 2px;
  background: #ffffff;
}

@media screen and (max-width: 850px) {
  .home-3 .bottom #cambio .left, .home-3 .bottom #cambio2 .left, .home-3 .bottom #cambio3 .left, .home-3 .bottom #cambio4 .left, .home-3 .bottom #cambio5 .left, .home-3 .bottom #cambio6 .left, .home-3 .bottom #cambio7 .left, .home-3 .bottom #cambio8 .left {
    width: 100%;
  }
}

.home-3 .bottom #cambio .left img, .home-3 .bottom #cambio2 .left img, .home-3 .bottom #cambio3 .left img, .home-3 .bottom #cambio4 .left img, .home-3 .bottom #cambio5 .left img, .home-3 .bottom #cambio6 .left img, .home-3 .bottom #cambio7 .left img, .home-3 .bottom #cambio8 .left img {
  display: block !important;
  margin: auto !important;
}

.home-3 .bottom #cambio .right, .home-3 .bottom #cambio2 .right, .home-3 .bottom #cambio3 .right, .home-3 .bottom #cambio4 .right, .home-3 .bottom #cambio5 .right, .home-3 .bottom #cambio6 .right, .home-3 .bottom #cambio7 .right, .home-3 .bottom #cambio8 .right {
  background: #f0f0f0;
  border: solid 1px white;
  padding: 0px;
  width: 0%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .home-3 .bottom #cambio .right, .home-3 .bottom #cambio2 .right, .home-3 .bottom #cambio3 .right, .home-3 .bottom #cambio4 .right, .home-3 .bottom #cambio5 .right, .home-3 .bottom #cambio6 .right, .home-3 .bottom #cambio7 .right, .home-3 .bottom #cambio8 .right {
    width: 100% !important;
    padding: 25px;
  }
}

.home-3 .bottom #cambio .right h1, .home-3 .bottom #cambio2 .right h1, .home-3 .bottom #cambio3 .right h1, .home-3 .bottom #cambio4 .right h1, .home-3 .bottom #cambio5 .right h1, .home-3 .bottom #cambio6 .right h1, .home-3 .bottom #cambio7 .right h1, .home-3 .bottom #cambio8 .right h1 {
  color: #000000;
  text-transform: uppercase;
}

.home-3 .bottom #cambio .right p, .home-3 .bottom #cambio2 .right p, .home-3 .bottom #cambio3 .right p, .home-3 .bottom #cambio4 .right p, .home-3 .bottom #cambio5 .right p, .home-3 .bottom #cambio6 .right p, .home-3 .bottom #cambio7 .right p, .home-3 .bottom #cambio8 .right p {
  color: #000000;
}

.home-3 .bottom #cambio .right .info-top, .home-3 .bottom #cambio2 .right .info-top, .home-3 .bottom #cambio3 .right .info-top, .home-3 .bottom #cambio4 .right .info-top, .home-3 .bottom #cambio5 .right .info-top, .home-3 .bottom #cambio6 .right .info-top, .home-3 .bottom #cambio7 .right .info-top, .home-3 .bottom #cambio8 .right .info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
}

@media screen and (max-width: 1200px) {
  .home-3 .bottom #cambio .right .info-top, .home-3 .bottom #cambio2 .right .info-top, .home-3 .bottom #cambio3 .right .info-top, .home-3 .bottom #cambio4 .right .info-top, .home-3 .bottom #cambio5 .right .info-top, .home-3 .bottom #cambio6 .right .info-top, .home-3 .bottom #cambio7 .right .info-top, .home-3 .bottom #cambio8 .right .info-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-3 .bottom #cambio .right .info-top .dep, .home-3 .bottom #cambio2 .right .info-top .dep, .home-3 .bottom #cambio3 .right .info-top .dep, .home-3 .bottom #cambio4 .right .info-top .dep, .home-3 .bottom #cambio5 .right .info-top .dep, .home-3 .bottom #cambio6 .right .info-top .dep, .home-3 .bottom #cambio7 .right .info-top .dep, .home-3 .bottom #cambio8 .right .info-top .dep {
  width: 50%;
  margin-bottom: 25px;
}

@media screen and (max-width: 580px) {
  .home-3 .bottom #cambio .right .info-top:first-of-type, .home-3 .bottom #cambio2 .right .info-top:first-of-type, .home-3 .bottom #cambio3 .right .info-top:first-of-type, .home-3 .bottom #cambio4 .right .info-top:first-of-type, .home-3 .bottom #cambio5 .right .info-top:first-of-type, .home-3 .bottom #cambio6 .right .info-top:first-of-type, .home-3 .bottom #cambio7 .right .info-top:first-of-type, .home-3 .bottom #cambio8 .right .info-top:first-of-type {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home-3 .bottom #cambio .right .info-top:last-of-type, .home-3 .bottom #cambio2 .right .info-top:last-of-type, .home-3 .bottom #cambio3 .right .info-top:last-of-type, .home-3 .bottom #cambio4 .right .info-top:last-of-type, .home-3 .bottom #cambio5 .right .info-top:last-of-type, .home-3 .bottom #cambio6 .right .info-top:last-of-type, .home-3 .bottom #cambio7 .right .info-top:last-of-type, .home-3 .bottom #cambio8 .right .info-top:last-of-type {
  margin-top: 50px;
}

.home-3 .bottom #cambio .right .info-bottom, .home-3 .bottom #cambio2 .right .info-bottom, .home-3 .bottom #cambio3 .right .info-bottom, .home-3 .bottom #cambio4 .right .info-bottom, .home-3 .bottom #cambio5 .right .info-bottom, .home-3 .bottom #cambio6 .right .info-bottom, .home-3 .bottom #cambio7 .right .info-bottom, .home-3 .bottom #cambio8 .right .info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .home-3 .bottom #cambio .right .info-bottom, .home-3 .bottom #cambio2 .right .info-bottom, .home-3 .bottom #cambio3 .right .info-bottom, .home-3 .bottom #cambio4 .right .info-bottom, .home-3 .bottom #cambio5 .right .info-bottom, .home-3 .bottom #cambio6 .right .info-bottom, .home-3 .bottom #cambio7 .right .info-bottom, .home-3 .bottom #cambio8 .right .info-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 580px) {
  .home-3 .bottom #cambio .right .info-bottom.dosplantas, .home-3 .bottom #cambio2 .right .info-bottom.dosplantas, .home-3 .bottom #cambio3 .right .info-bottom.dosplantas, .home-3 .bottom #cambio4 .right .info-bottom.dosplantas, .home-3 .bottom #cambio5 .right .info-bottom.dosplantas, .home-3 .bottom #cambio6 .right .info-bottom.dosplantas, .home-3 .bottom #cambio7 .right .info-bottom.dosplantas, .home-3 .bottom #cambio8 .right .info-bottom.dosplantas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-3 .bottom #cambio .right .info-bottom .info-cont, .home-3 .bottom #cambio2 .right .info-bottom .info-cont, .home-3 .bottom #cambio3 .right .info-bottom .info-cont, .home-3 .bottom #cambio4 .right .info-bottom .info-cont, .home-3 .bottom #cambio5 .right .info-bottom .info-cont, .home-3 .bottom #cambio6 .right .info-bottom .info-cont, .home-3 .bottom #cambio7 .right .info-bottom .info-cont, .home-3 .bottom #cambio8 .right .info-bottom .info-cont {
  width: 50%;
}

.home-3 .bottom #cambio .right .info-bottom .info-cont > div:first-of-type, .home-3 .bottom #cambio2 .right .info-bottom .info-cont > div:first-of-type, .home-3 .bottom #cambio3 .right .info-bottom .info-cont > div:first-of-type, .home-3 .bottom #cambio4 .right .info-bottom .info-cont > div:first-of-type, .home-3 .bottom #cambio5 .right .info-bottom .info-cont > div:first-of-type, .home-3 .bottom #cambio6 .right .info-bottom .info-cont > div:first-of-type, .home-3 .bottom #cambio7 .right .info-bottom .info-cont > div:first-of-type, .home-3 .bottom #cambio8 .right .info-bottom .info-cont > div:first-of-type {
  margin-bottom: 25px;
}

@media screen and (max-width: 580px) {
  .home-3 .bottom #cambio .right .info-bottom .info-cont, .home-3 .bottom #cambio2 .right .info-bottom .info-cont, .home-3 .bottom #cambio3 .right .info-bottom .info-cont, .home-3 .bottom #cambio4 .right .info-bottom .info-cont, .home-3 .bottom #cambio5 .right .info-bottom .info-cont, .home-3 .bottom #cambio6 .right .info-bottom .info-cont, .home-3 .bottom #cambio7 .right .info-bottom .info-cont, .home-3 .bottom #cambio8 .right .info-bottom .info-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-3 .bottom #cambio .right .info-bottom .info, .home-3 .bottom #cambio2 .right .info-bottom .info, .home-3 .bottom #cambio3 .right .info-bottom .info, .home-3 .bottom #cambio4 .right .info-bottom .info, .home-3 .bottom #cambio5 .right .info-bottom .info, .home-3 .bottom #cambio6 .right .info-bottom .info, .home-3 .bottom #cambio7 .right .info-bottom .info, .home-3 .bottom #cambio8 .right .info-bottom .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .home-3 .bottom #cambio .right .info-bottom .info, .home-3 .bottom #cambio2 .right .info-bottom .info, .home-3 .bottom #cambio3 .right .info-bottom .info, .home-3 .bottom #cambio4 .right .info-bottom .info, .home-3 .bottom #cambio5 .right .info-bottom .info, .home-3 .bottom #cambio6 .right .info-bottom .info, .home-3 .bottom #cambio7 .right .info-bottom .info, .home-3 .bottom #cambio8 .right .info-bottom .info {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .home-3 .bottom #cambio .right .info-bottom .info:first-of-type, .home-3 .bottom #cambio2 .right .info-bottom .info:first-of-type, .home-3 .bottom #cambio3 .right .info-bottom .info:first-of-type, .home-3 .bottom #cambio4 .right .info-bottom .info:first-of-type, .home-3 .bottom #cambio5 .right .info-bottom .info:first-of-type, .home-3 .bottom #cambio6 .right .info-bottom .info:first-of-type, .home-3 .bottom #cambio7 .right .info-bottom .info:first-of-type, .home-3 .bottom #cambio8 .right .info-bottom .info:first-of-type {
    margin-bottom: 50px;
  }
}

.home-3 .bottom #cambio .right .info-bottom .info h1, .home-3 .bottom #cambio2 .right .info-bottom .info h1, .home-3 .bottom #cambio3 .right .info-bottom .info h1, .home-3 .bottom #cambio4 .right .info-bottom .info h1, .home-3 .bottom #cambio5 .right .info-bottom .info h1, .home-3 .bottom #cambio6 .right .info-bottom .info h1, .home-3 .bottom #cambio7 .right .info-bottom .info h1, .home-3 .bottom #cambio8 .right .info-bottom .info h1 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-transform: uppercase;
  margin-right: 50px;
}

.home-3 .bottom #cambio .right .info-bottom .info p, .home-3 .bottom #cambio2 .right .info-bottom .info p, .home-3 .bottom #cambio3 .right .info-bottom .info p, .home-3 .bottom #cambio4 .right .info-bottom .info p, .home-3 .bottom #cambio5 .right .info-bottom .info p, .home-3 .bottom #cambio6 .right .info-bottom .info p, .home-3 .bottom #cambio7 .right .info-bottom .info p, .home-3 .bottom #cambio8 .right .info-bottom .info p {
  position: relative;
}

.home-3 .bottom #cambio .right .info-bottom .info p:after, .home-3 .bottom #cambio2 .right .info-bottom .info p:after, .home-3 .bottom #cambio3 .right .info-bottom .info p:after, .home-3 .bottom #cambio4 .right .info-bottom .info p:after, .home-3 .bottom #cambio5 .right .info-bottom .info p:after, .home-3 .bottom #cambio6 .right .info-bottom .info p:after, .home-3 .bottom #cambio7 .right .info-bottom .info p:after, .home-3 .bottom #cambio8 .right .info-bottom .info p:after {
  content: "";
  width: 2px;
  height: 2px;
  background: white;
  position: absolute;
  left: -10px;
  top: 50%;
}

.home-4 {
  background-image: url("../images/5.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  .home-4 {
    height: initial;
    width: 100%;
    padding: 5.55556%;
  }
}

@media screen and (max-width: 850px) {
  .home-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-4 p {
  color: #ffffff;
  margin-bottom: 15px;
}

.home-4 .left {
  width: 50%;
}

.home-4 .left h2 {
  color: #ffffff;
  height: 300px;
  left: 5%;
  z-index: 1;
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 850px) {
  .home-4 .left h2 {
    position: initial;
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
    height: initial;
    margin-bottom: 25px;
    text-align: center;
  }
}

.home-4 .left h6 {
  opacity: .5;
  left: 0;
}

@media screen and (max-width: 850px) {
  .home-4 .left h6 {
    display: none;
  }
}

.home-4 .left h6 {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  top: 0;
  bottom: 0;
  margin: auto;
}

.home-4 .right {
  width: 44.44444%;
}

@media screen and (max-width: 850px) {
  .home-4 .right {
    width: 94.44444%;
  }
}

@media screen and (max-width: 580px) {
  .home-4 .texthide {
    display: none;
  }
}

.home-6 {
  width: 100%;
}

.home-6 .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 850px) {
  .home-6 .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-6 .top .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0d0d0d;
}

@media screen and (max-width: 850px) {
  .home-6 .top .left {
    width: 100%;
  }
}

.home-6 .top .right {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1200px) {
  .home-6 .top .right {
    width: 83.33333%;
    padding: 5.5%;
  }
}

@media screen and (max-width: 850px) {
  .home-6 .top .right {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-6 .top .right .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 850px) {
  .home-6 .top .right .container {
    width: 100%;
  }
}

.home-6 .top .right .container h1 {
  color: #000000;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-transform: uppercase;
  margin-right: 70px;
}

@media screen and (max-width: 850px) {
  .home-6 .top .right .container h1 {
    text-align: center;
  }
}

.home-6 .top .right .container .contact-info {
  margin-bottom: 25px;
}

.home-6 .top .right .container .contact-info .title {
  font-family: 'Manjari', sans-serif;
  font-size: 1.35rem;
  color: #000000;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
}

.home-6 .top .right .container .contact-info .text {
  color: #000000;
}

@media screen and (max-width: 580px) {
  .home-6 .top .right .container .redes .wpdesktop {
    display: none;
  }
}

.home-6 .top .right .container .redes .red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-6 .top .right .container .redes .red.responsive {
  display: none;
}

@media screen and (max-width: 580px) {
  .home-6 .top .right .container .redes .red.responsive {
    display: block;
    width: 35px;
  }
}

.home-6 .top .right .container .redes .red .red-icon {
  width: 35px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.home-6 .top .right .container .redes .red .red-icon path {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.home-6 .top .right .container .redes .red .red-icon:hover path {
  fill: #ef9178;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.home-6 .top .right .container .redes .red p {
  margin-left: 15px;
}

@media screen and (max-width: 580px) {
  .home-6 .top .right .container .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.home-6 .top .right .form-cont {
  width: 27.77778%;
}

@media screen and (max-width: 850px) {
  .home-6 .top .right .form-cont {
    width: 100%;
  }
}

.home-6 .top .right .form-cont form > div {
  margin-bottom: 40px;
}

.home-6 .top .right .form-cont form input {
  border: none;
  background: #ffffff;
  color: #000000;
  border-bottom: 2px solid #7c7c7c;
  padding-bottom: 5px;
  font-family: avenir;
  font-size: 16px;
  width: 100%;
}

.home-6 .top .right .form-cont form textarea {
  border: none;
  background: #ffffff;
  color: #000000;
  border-bottom: 2px solid #7c7c7c;
  padding-bottom: 5px;
  font-family: avenir;
  font-size: 16px;
  width: 100%;
}

.home-6 .top .right .form-cont .button2 {
  cursor: pointer;
  width: 250px;
  padding: 25px;
  border: none;
  position: relative;
}

.home-6 .top .right .form-cont .button2:before {
  content: "";
  width: 0;
  background: #ef9178;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.home-6 .top .right .form-cont .button2:hover:before {
  width: 100%;
}

.home-6 .top .right .form-cont .button2 p {
  position: relative;
  z-index: 1;
}

.home-6 .top .right .form-cont input[type='submit']:hover {
  background: #ef9178;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
}

.dots.active > div {
  -webkit-animation: dots 1s forwards;
          animation: dots 1s forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.dots > div {
  width: 0;
  height: 5px;
  background: #ffffff;
  border-radius: 50%;
  margin: 15px;
}

.contact {
  position: fixed;
  right: 0;
  bottom: 10%;
  width: 60px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0d0d0d;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .item {
  width: 35px;
}

@media screen and (max-width: 580px) {
  .contact .item.wp {
    display: none;
  }
}

.contact .item.wp path {
  fill: #25D366;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.contact .item.wp:hover path {
  fill: #1e9f49;
}

.contact .item.wpresponsive {
  display: none;
}

@media screen and (max-width: 580px) {
  .contact .item.wpresponsive {
    display: block;
  }
}

.contact .item.wpresponsive path {
  fill: #25D366;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.contact .item.wpresponsive:hover path {
  fill: #1e9f49;
}

.contact .item.insta {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.contact .item.insta path {
  fill: url(#insta-gradient) #FEDA77;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.contact .item.insta:hover path {
  fill: url(#insta-gradients) #FEDA77;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.contact p {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #ffffff;
  margin: 0;
  line-height: 1;
  text-align: center;
}

@-webkit-keyframes dots {
  from {
    width: 0;
  }
  to {
    width: 5px;
  }
}

@keyframes dots {
  from {
    width: 0;
  }
  to {
    width: 5px;
  }
}

@-webkit-keyframes cuadro {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

@keyframes cuadro {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

@-webkit-keyframes swipe {
  from {
    padding: 0px;
    width: 0%;
  }
  to {
    padding: 25px;
    width: 44.44444%;
  }
}

@keyframes swipe {
  from {
    padding: 0px;
    width: 0%;
  }
  to {
    padding: 25px;
    width: 44.44444%;
  }
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.slick-dots li button {
  cursor: pointer;
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: gray;
  padding: 0;
  margin: 0 10px;
  border: none;
}

.slick-dots li.slick-active button {
  background: #0d0d0d;
}

@media (max-width: 850px) {
  .rellax {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
  }
}
/*# sourceMappingURL=app.css.map */